<!-- Start Footer Area -->
<footer class="footer-area bg-color3">
  <div class="footer-wrapper section-spacing bminus-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="footer-widget wow fadeIn" data-wow-duration="1s">
            <h5 class="footer-title heading-5">SHOPTIMA haqida</h5>
            <p>
              Xitoydan barcha turdagi uskunalar, texnikalar va tovarlarni O'zbekistonga yetkazib berish xizmati. 
              Uskunalar birinchi qo'ldan olinadi va sifatini malakali mutaxassislarimiz tekshirib olishadi.
              
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-3">
          <div class="footer-widget wow fadeIn" data-wow-duration="2s">
            <h5 class="footer-title heading-5">Foydali linklar</h5>
            <ul class="footer-category list-inline">
              <li><a href="#team">Jamoa</a></li>
              <li><a href="#roadmap">Rejalar</a></li>
              <li><a href="#blog/why-hospitalrun/">Nega biz?</a></li>
              <li><a href="#demo">Demonstratsiya </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 col-lg-3">
          <div class="footer-widget wow fadeIn" data-wow-duration="4s">
            <h5 class="footer-title heading-5">Follow Us</h5>
            <ul class="footer-socials list-inline">
              {% if site.facebook %}
              <li class="list-inline-item">
                <a href="{{ site.facebook }}"><i class="fa fa-facebook"></i></a>
              </li>
              {% endif %} {% if site.github %}
              <li class="list-inline-item">
                <a href="{{ site.github }}"><i class="fa fa-telegram"></i></a>
              </li>
              {% endif %} {% if site.twitter %}
              <li class="list-inline-item">
                <a href="{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
              </li>
              {% endif %} {% if site.instagram %}
              <li class="list-inline-item">
                <a href="{{ site.instagram }}"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              {% endif %} {% if site.linkedin %}
              <li class="list-inline-item">
                <a href="{{ site.linkedin }}"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              {% endif %} {% if site.reddit %}
              <li class="list-inline-item">
                <a href="{{ site.reddit }}"><i class="fa fa-reddit"></i></a>
              </li>
              {% endif %} {% if site.youtube %}
              <li class="list-inline-item">
                <a href="{{ site.youtube }}"><i class="fa fa-youtube"></i></a>
              </li>
              {% endif %} {% if site.reddit %}
              <li class="list-inline-item">
                <a href="{{ site.reddit }}"><i class="fa fa-reddit"></i></a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="container">
      <div class="footer-copyright text-center">
        <p style="font-size: 0.8rem; line-height: 2;">
          Copyright &copy; <a href="https://shoptima.uz">SHOPTIMA</a> All rights
          reserved. "SHOPTIMA INTERNATIONAL TRADINC CO" MChJ, 828414 raqami
          bilan davlat reestridagi ro'yxatdan o'tkazilgan. Manzil: Surxondaryo
          viloyati, Termiz shahri, A.Navoiy ko'chasi 23 uy. Mo'ljal: "Malika
          Gold" Restorani yonida<br />
          <a href="https://shoptima.com.cn">Xitoy bosh ofisi websayti</a> |
          <a href="https://shoptima.trustpass.alibaba.com">Alibaba saxifamiz</a> |
                    <br />
          {% if page.icon-credits %} {% endif %} {% if page.pexels %}
          <span style="font-size: 0.5rem">
            Thumbnail photo by <a href="https://www.pexels.com">Pexels</a>
          </span>
          {% endif %} {% if page.infographics %}
          <span style="font-size: 0.5rem">
            Infographics made by
            <a href="https://www.freepik.com">freepik</a>
          </span>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  <a href="#" class="home-top"
    ><i class="fa fa-angle-up" aria-hidden="true"></i
  ></a>
</footer>
<!-- End Footer Area -->
