<!-- Start Help Area -->
<section class="help-area bg-color1 wow fadeInUp">
  <div class="help-wrapper section-spacing pt-0">
    <div class="container">
      <div class="help-section">
        <h3 class="heading-3">SHOPTIMA: O'zbek-Xitoy Savdo Uyi.</h3>
        <p>
          SHOPTIMA bu shunchaki kompaniya nomi emas, bu Mijozlarga uskuna
          brendi, sifati va ishonchliligi belgisidir. SHOPTIMA Kompaniyasi
          yurtimiz hududida 193 dan ortiq (30.03.2020 yil statistikasiga ko’ra)
          uskunalarni muvaffaqiyatli yetkazib bermoqda.
        </p>
        <p>
          Bizning sohada ham hamma sohadagi kabi kamchiliklar mavjud. Jumladan
          chetdan yetkazilgan uskunalarda aniqlangan 19 ta holat bo’yicha
          kamchiliklar o'rganib chiqilib. bartaraf etildi va tashish mobaynida
          yuzaga kelgan deformatsiyalar tufayli tuzatib bo’lmas kamchiliklar
          aniqlangan 1 ta holat bo’yicha uskuna qaytarib olinib, boshqa yangi
          shu turdagi uskunaga almashtirildi.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Help  Area -->
